* {
  margin: 0px;
  padding: 0px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.Navbar {
  display: flex;
  justify-content: space-evenly;
  background: #000;
  cursor: pointer;
  height: 50px;
  align-items: center;
}
.Navbar a {
  text-decoration: none;
  margin: 4%;
  padding: 1%;
  color: aliceblue;
}
.logo {
  color: antiquewhite;
}
.Navbar > button {
  background: tomato;
  color: aqua;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
